body{
    margin: 0px;
    text-align: center;
}

.form{
    display: inline-block;
}

input{
    width: 50%;
    padding-top: 20px;
    margin-top: 20px;

}

textarea{
    margin-top: 20px;
    resize: none;
}